* {
overflow: hidden;
}
html {
	height: 100%;
}
body {
	background-color: #D1EAA3;
	height: 100%;
	margin: 0;
}

.container {
	width: 100%;
	height: 100%;
	display: block;
	clear: both;
	margin: 0;
	position: absolute;
	top: 0;
}

.page-header {
	background-color: #EFEE9D;
	margin: 0;
	position: relative;
	top: 0;
	left: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 150px;
}

.page-body {
	background-color: #D1EAA3;
	padding: 0;
	margin: 0;
	position: relative;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 83%;
	font-size: 14px;
					overflow: auto;
}

.display-content {
	display: block;

}

.title, .title>h2 {
	font-size: 22px;
	color: #9D9EEF;
	text-align: center;
	display: block;
	marging: 0;
}

.abutton {
	background-color:	#ABC2E8;
	border-radius: 8px;
	box-shadow: 0 2px 2px 0 #3F74CA;
	color: #fff;
	font-size: 14px;
	padding: 3px 5px;
	text-decoration: none;
	margin: 5px 2px 5px 15px;
}

.submit-button {
	background-color:	#DBC6EB;
	border-radius: 8px;
	box-shadow: 0 2px 2px 0 #3F74CA;
	color: #fff;
	font-size: 14px;
	padding: 3px 5px;
	text-decoration: none;
	margin: 10px 20px;
}

.an-input {
	background-color:	#ABC2E8;
	border-radius: 8px;
	box-shadow: 0 2px 2px 0 #3F74CA;
	color: #fff;
	font-size: 14px;
	padding: 3px 2px;
	text-decoration: none;
	margin: 5px 3px 5px 1px;
}

.a-label {
	color: #9D9EEF;
	font-size: 14px;
	font-weight: bold;
	display: block;
	margin: 10px 20px;
	
}

.section-message {
	font-size: 18px;
	color: #3F74CA;
	text-align: left;
	margin: 10px 20px;
	font-weight: bold;
}

.display-content>h3 {
	font-size: 18px;
	color: #3F74CA;
	text-align: left;
	margin: 10px 20px;
	font-weight: bold;
}

.display-content {
	overflow-x: hidden;
	overflow-y: auto;
}

.aTable {
	margin: 10px 20px;
	font-size: 14px;
	color: #3F74C;
}

table, th, td {
	border: 1px solid #3F74CA;
	border-collapse: collapse;
	text-align: left;
	vertical-align: top;
	padding: 5px;
	color: #3F74CA;
}

table {
	table-layout: fixed;
}


th {
	border: 1px solid;
	background-color: #DBC6EB;
	color: white;
}